
 a{
    font-weight: bold;  
    color: blue;

}
h1{
    font-size: 30px;
    font-weight: bold;
}
img{
    max-width: 230px;
    max-height: 200px;
    position: relative; /*me permite mover un elemento en este caso la img,agregando cordenadas con topleft,right, bottom etc*/
    top: .5em;
    right: -2em; 
}
nav{
  
   margin: 10px 30px 10px 30px;
}
.contenedor{
    
    text-align: center;
    position: relative;
    right: -10em;
    top: -4em;
    font-size: 20px;
    
     
 
}
.contenido{
   
    margin: 10px 30px 10px 30px;
    
}

.footer{
    background: #0000FF;
    margin: 10px 30px 10px 30px;
    height: 250px;
    color: white;
}

.izquierda{
    
    float: left;
}